#hr_time_number_card_checkin_status .checkin_status {
  line-height: 48px;
  padding-left: 9px;
  padding-right: 11px;
  border-radius: 8px;
}

.navbar .checkin_status {
  line-height: 28px;
  padding-left: 9px;
  padding-right: 11px;
  border-radius: 8px;
  height: 28px;
  margin-top: 4px;
  margin-left: 10px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.datatable .checkin_status {
  line-height: 21px;
  padding-left: 9px;
  padding-right: 11px;
  border-radius: 5px;
  height: 21px;
  margin-left: 0;
  margin-top: -1px;
}

.checkin_status.work {
  background-color: var(--bg-green);
  color: var(--text-on-green)
}

.checkin_status.break {
  background-color: var(--bg-blue);
  color: var(--text-on-blue)
}

.checkin_status.out {
  background-color: var(--bg-grey);
  color: var(--text-on-grey)
}

.checkin_status .fa {
  padding-right: 7px;
  font-style: normal;
}

.navbar .checkin_status .label,
.datatable .checkin_status .label {
  float: right;
}

@media (min-width: 326px) and (max-width: 400px) {
  .navbar .checkin_status {
    white-space: unset;
    overflow: unset;
    text-align: center;
    max-width: 115px;
    height: 43px;
    line-height: 21px;
    margin-top: 0;
  }

  .navbar .checkin_status .label {
    text-align: center;
    width: 64px;
  }

  .checkin_status .fa {
    padding-top: 13px;
  }
}

@media (max-width: 326px) {
  .navbar .checkin_status .label {
    float: right;
    max-width: 26px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}