#hr_time_dashboard_flextime_balance .balance {
  float: left;
}

#hr_time_dashboard_flextime_balance .trend,
#hr_time_dashboard_flextime_balance .balance {
  font-weight: normal
}

#hr_time_dashboard_flextime_balance .trend {
  line-height: 25px;
}

#hr_time_dashboard_flextime_balance .balance {
  line-height: 27px;
}

#hr_time_dashboard_flextime_balance .balance .hours {
  font-size: 21px;
}

#hr_time_dashboard_flextime_balance .trend .absolute,
#hr_time_dashboard_flextime_balance .trend .meta {
  font-size: 13px;
}

#hr_time_dashboard_flextime_balance .balance .minutes {
  font-size: 16px;
}

#hr_time_dashboard_flextime_balance .balance .minutes,
#hr_time_dashboard_flextime_balance .trend .meta {
  color: var(--text-muted) !important;
}

#hr_time_dashboard_flextime_balance .trend {
  float: right;
  text-align: right;
}

#hr_time_dashboard_flextime_balance .trend .icon {
  font-size: 16px;
}

#hr_time_dashboard_flextime_balance .positive {
  color: var(--dark-green-500);
}

#hr_time_dashboard_flextime_balance .negative {
  color: var(--red);
}

#hr_time_number_card_checkin_status .checkin_status {
  line-height: 48px;
  padding-left: 9px;
  padding-right: 11px;
  border-radius: 8px;
}

#hr_time_number_card_checkin_status .checkin_status.work {
  background-color: var(--bg-green);
  color: var(--text-on-green)
}

#hr_time_number_card_checkin_status .checkin_status.break {
  background-color: var(--bg-blue);
  color: var(--text-on-blue)
}

#hr_time_number_card_checkin_status .checkin_status.out {
  background-color: var(--bg-grey);
  color: var(--text-on-grey)
}

#hr_time_number_card_checkin_status .checkin_status .fa {
  padding-right: 7px;
}