body[data-route="Workspaces/Flextime"] .number-widget-box .widget-title span {
  font-size: var(--text-lg);
  margin-top: -4px;
}

body[data-route="Workspaces/Flextime"] .number-widget-box,
body[data-route="Workspaces/Flextime"] .quick-list-widget-box {
  box-shadow: var(--shadow-base) !important;
}

[data-theme=dark] body[data-route="Workspaces/Flextime"] .number-widget-box,
[data-theme=dark] body[data-route="Workspaces/Flextime"] .quick-list-widget-box {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.06), 0 0 4px rgba(0, 0, 0, 0.27) !important;
}

body[data-route="Workspaces/Flextime"] .number-widget-box .widget-content {
  display: block !important;
  padding-top: 15px !important;
}

div[number_card_name="Employees present"] .number-widget-box .widget-content {
  padding-top: 0 !important;
}

div[number_card_name="Employees present"] .widget-content {
  padding-top: 0;
}

body[data-route="Workspaces/Flextime"] .ce-paragraph {
  padding-bottom: 5px;
  border-radius: 0;
  font-size: 17px;
  color: var(--heading-color);
}

[data-theme=dark] body[data-route="Workspaces/Flextime"] .ce-paragraph {
  border-bottom: 1px solid #ffffff1f;
}

[data-theme=light] body[data-route="Workspaces/Flextime"] .ce-paragraph {
  border-bottom: 1px solid #00000026;
}

body[data-route="Workspaces/Flextime"] .ce-header span.h4 {
  font-weight: normal;
}

#hr_time_dashboard_flextime_balance .balance {
  float: left;
}

#hr_time_dashboard_flextime_balance .trend,
#hr_time_dashboard_flextime_balance .balance {
  font-weight: normal;
}

#hr_time_dashboard_flextime_balance .trend {
  line-height: 25px;
}

#hr_time_dashboard_flextime_balance .balance {
  line-height: 27px;
}

#hr_time_dashboard_flextime_balance .balance .hours {
  font-size: 21px;
}

#hr_time_dashboard_flextime_balance .trend .absolute,
#hr_time_dashboard_flextime_balance .trend .meta {
  font-size: 13px;
}

#hr_time_dashboard_flextime_balance .balance .minutes {
  font-size: 16px;
}

#hr_time_dashboard_flextime_balance .balance .minutes,
#hr_time_dashboard_flextime_balance .trend .meta {
  color: var(--text-muted) !important;
}

#hr_time_dashboard_flextime_balance .trend {
  float: right;
  text-align: right;
}

#hr_time_dashboard_flextime_balance .trend .icon {
  font-size: 16px;
}

#hr_time_dashboard_flextime_balance .positive {
  color: var(--dark-green-500);
}

#hr_time_dashboard_flextime_balance .negative {
  color: var(--red);
}

#hr_time_nc_employees_present .count {
  text-align: center;
  padding: 10px;
}

#hr_time_nc_employees_present .show_all_btn {
  border-radius: var(--border-radius);
  background-color: var(--btn-default-bg);
  width: 100%;
  font-size: var(--text-md);
  line-height: 1.2;
  padding: 10px var(--padding-sm);
  font-weight: 400;
  text-align: center;
}

#hr_time_nc_employees_present .show_all_btn:hover {
  background-color: var(--btn-default-hover-bg);
}
