@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin badge {
    padding: 0.2rem 1.25rem;
    border-radius: 0.20rem;
    box-shadow: 0px 3px 1px gray;
}